# Load the shared object
useDynLib(gds2bgen,
    SEQ_BGEN_Info, SEQ_BGEN_Import,
    SEQ_BGEN_ExportBegin, SEQ_BGEN_ExportData, SEQ_BGEN_ExportEnd
)

# Export the following names
exportPattern("^seq*")

# Import
import(methods)
import(gdsfmt)
importFrom(utils, flush.console, packageVersion)
importFrom(SeqArray, seqStorageOption, seqParallel)
